@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
body {
  font-family: 'Exo 2', sans-serif;
}
/* For custom scrollbar aesthetics */
::-webkit-scrollbar {
  width: 8px;
}
/* Light mode default */
::-webkit-scrollbar-track {
  background: #e5e7eb; /* slate-200 */
}
/* Dark mode */
.dark ::-webkit-scrollbar-track {
  background: #0f172a; /* slate-900 */
}
::-webkit-scrollbar-thumb {
  background: #16a34a; /* green-600 */
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #15803d; /* green-700 */
}
